{% extends "_base.html" %}
{% from "_macros.html" import render_field, render_form %}

{% block header_title %}API Test Page{% endblock %}
{% block page_title %}API Test Page{% endblock %}

{% block body_attr %}class="single-greenchamber"{% endblock %}

{% block main_content %}
<div class="row"><div class="col-md-12">
    <form method="GET">
        {{ render_field(form.pid) }}
        <input class="btn btn-primary" type="submit" value="Submit">

    </form>
</div></div>
<div class="row">
    <div class="col-md-12"><h4 class="text-center" id="recent_comms_summary_title"></h4></div>
</div>
<div class="row">
    <div id="total-n" class="col-md-4"></div>
    <div id="corp-count" class="col-md-4"></div>
    <div id="subj-count" class="col-md-4"></div>
</div>
<div class="row heatmap">
    <div class="col-md-12">
        <hr>

        <div id="heatmap-viz">
            <canvas id="heatmap" width="800" height="1200"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>

        <div class="col-md-12"><h4 class="text-center" id="recent_comms_list_title"></h4></div>

        <div id="meeting_list"></div>
    </div>
</div>

{% endblock %}

{% block js_end_libs %}
    <script>
        var pid = {{ pid }}
    </script>

    <script src="{{ url_for('static', filename='Heatmap.ChartsJS/Chart.HeatMap.S.js') }}"></script>
    <script src="{{ url_for('static', filename='lobbying-viz.js') }}"></script>
{% endblock %}